node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

serverside_utils/input.txt
serverside_utils/output.md
serverside_utils/wikipedia_raw.jsonl
serverside_utils/structure.json
serverside_utils/doc.json